.buscador
	padding: 100px
	inline-size: 100%
	block-size: 250px
	text-align: center
	background: url("../imgs/cover.jpg") center/cover no-repeat;
	&__input
		border: none 
		padding: 20px
		inline-size: 75%
		block-size: 60px
		font-size: 25px
		border-radius: 30px
		outline: none;
