.estadistica--articulos {
  padding: 20px;
  block-size: 70px;
  border-top: 1px solid opacidad($color-primario, 0.3);
}
.estadistica--articulos ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.estadistica--articulos ul li {
  list-style-type: none;
  color: opacidad($color-primario, 0.3);
}
.estadistica--articulos ul span {
  margin-left: 10px;
}
